# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
webcrawling/__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.ipynb_checkpoints/
*.pyc
/poetry.lock
uv.lock


# Project files
.ropeproject
.project
.pydevproject
.settings
.idea

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info
node_modules/
package-lock.json

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_build/*
docs/build/*
cover/*
MANIFEST
.mypy_cache/*

# Unused code
backup/*

# macOS Desktop Services Store
.DS_Store

# plots
*.png

venv

!.keep

private/

# tensorboard output
runs/

# large files
*.h5