[tool.poetry]
name = "biotrainer"
version = "0.8.4"
description = "Biotrainers for embeddings"
authors = [
    "Christian Dallago <christian.dallago@tum.de>",
    "Sebastian Franz <sebastian.franz@tum.de>",
    "Joaquin Gomez Sanchez <joaquin.gomez@tum.de>",
    "Michael Heinzinger <mheinzinger@rostlab.org>"
]
license = "AFL v3.0"
readme = "README.md"
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "License :: OSI Approved :: AFL License",
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Bio-Informatics",
    "Topic :: Scientific/Engineering :: Visualization"
]

[tool.poetry.scripts]
biotrainer = 'biotrainer.utilities.cli:main'

[tool.poetry.urls]
issues = "https://github.com/sacdallago/biotrainer/issues"
repository = "https://github.com/sacdallago/biotrainer"

[tool.poetry.dependencies]
python = ">=3.9,<3.11"

accelerate = "^0.30.1"
biopython = ">=1.83,<2.0"
matplotlib = ">=3.7.2,<4.0.0"
h5py = ">=3.8.0,<4.0.0"
numpy = "1.26.4"
pip-audit = "^2.7.3"
plotly = ">=5.16.1,<6.0.0"
protobuf = "^5.27.0"
pyyaml = "6.0.1"
"ruamel.yaml" = ">=0.17.40,<0.18.0"
sentencepiece = "^0.2.0"
scipy = ">=1.11.2,<2.0.0"
scikit-learn = "^1.5.0"
tensorboard = "^2.14.1" # Latest version 2.15.1 conflicts with latest version of protobuf
torch = "2.3.0"
tqdm = "^4.66.4"
transformers = "^4.41.2"
torchmetrics = "^1.3.2"

# Optional
jupyter = { version = "^1.0.0", optional = true }

[tool.poetry.dev-dependencies]
pytest = "8.2.1"

[tool.poetry.extras]
jupyter = ["jupyter"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
