[tool.poetry]
name = "biotrainer"
version = "0.5.0"
description = "Biotrainers for embeddings"
authors = [
    "Christian Dallago <christian.dallago@tum.de>",
    "Sebastian Franz <sebastian.franz@tum.de>",
    "Joaquin Gomez Sanchez <joaquin.gomez@tum.de>",
    "Michael Heinzinger <mheinzinger@rostlab.org>"
]
license = "AFL v3.0"
readme = "README.md"
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "License :: OSI Approved :: AFL License",
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Bio-Informatics",
    "Topic :: Scientific/Engineering :: Visualization"
]

[tool.poetry.scripts]
biotrainer = 'biotrainer.utilities.cli:main'

[tool.poetry.urls]
issues = "https://github.com/sacdallago/biotrainer/issues"
repository = "https://github.com/sacdallago/biotrainer"

[tool.poetry.dependencies]
python = ">=3.9,<3.11"

biopython = ">=1.81,<2.0"
matplotlib = ">=3.7.1,<4.0.0"
h5py = ">=3.8.0,<4.0.0"
numpy = "1.23.5"  # Latest version (1.24.2) incompatible with numba
plotly = ">=5.14.1,<6.0.0"
protobuf = "^4.23.2"
pyyaml = "6.0"
"ruamel.yaml" = ">=0.17.10,<0.18.0"
scipy = ">=1.10.1,<2.0.0"
scikit-learn = "^1.2.2"
tensorboard = "^2.13.0"
torch = "^2.0.1"
tqdm = ">=4.65.0,<5.0.0"
torchmetrics = "^0.11.4"

# Optional
bio-embeddings = { git = "https://github.com/SebieF/bio_embeddings.git", branch = "biotrainer-compatible", optional = true, extras = ["all"] }
jupyter = { version = "^1.0.0", optional = true }

[tool.poetry.dev-dependencies]
pytest = "7.3.1"

[tool.poetry.extras]
bio-embeddings = ["bio-embeddings"]
jupyter = ["jupyter"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
