[tool.poetry]
name = "biotrainer"
version = "0.2.1"
description = "Biotrainers for embeddings"
authors = [
    "Christian Dallago <christian.dallago@tum.de>",
    "Sebastian Franz <sebastian.franz@tum.de>",
    "Joaquin Gomez Sanchez <joaquin.gomez@tum.de>",
    "Michael Heinzinger <mheinzinger@rostlab.org>"
]
license = "AFL v3.0"
readme = "README.md"
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "License :: OSI Approved :: AFL License",
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Bio-Informatics",
    "Topic :: Scientific/Engineering :: Visualization"
]

[tool.poetry.scripts]
biotrainer = 'biotrainer.utilities.cli:main'

[tool.poetry.urls]
issues = "https://github.com/sacdallago/biotrainer/issues"
repository = "https://github.com/sacdallago/biotrainer"

[tool.poetry.dependencies]
python = ">=3.8,<3.10"

biopython = ">=1.79,<2.0"
matplotlib = ">=3.2.1,<4.0.0"
h5py = ">=3.2.1,<4.0.0"
numpy = "^1.23.5"
plotly = ">=5.1.0,<6.0.0"
protobuf = "^3.20.3"  # Latest version (4.21.1) conflicts with tensorboard writer
pyyaml = "6.0"
"ruamel.yaml" = ">=0.17.10,<0.18.0"
scipy = ">=1.4.1,<2.0.0"
tensorboard = "^2.11.0"
torch = "^1.13.0"
tqdm = ">=4.45.0,<5.0.0"
torchmetrics = "^0.11.0"

# Optional
bio-embeddings = { git = "https://github.com/SebieF/bio_embeddings.git", branch = "biotrainer-compatible", optional = true, extras = ["all"] }
jupyter = { version = "^1.0.0", optional = true }

[tool.poetry.dev-dependencies]
pytest = "7.2.0"

[tool.poetry.extras]
bio-embeddings = ["bio-embeddings"]
jupyter = ["jupyter"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
