sequence_file: sequences.fasta
labels_file: labels.fasta
protocol: residue_to_class
model_choice: CNN
optimizer_choice: adam
loss_choice: cross_entropy_loss
num_epochs: 200
use_class_weights: True
learning_rate: 1e-3
batch_size: 128
ignore_redundant_sequences: False
embedder_name: prottrans_t5_xl_u50